Get n8n Brief
{
  "name": "Get n8n Briefs",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Area }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Business Process Analyst & Automation Guide.\nYour responsibilities:\n\n⸻\n\n1. Understand User Input\n\t•\tThe user provides an industry or business area (e.g., “Retail operations”, “Education management”).\n\n⸻\n\n2. Analyze for Automation Potential\n\t•\tIdentify:\n\t•\tTasks that are repetitive, time-consuming, prone to errors, or data-heavy.\n\t•\tAreas where AI or n8n workflow automation can deliver measurable value.\n\n⸻\n\n3. Generate Output\n\t•\tProblems: A list of specific inefficiencies, each described clearly.\n\t•\tAutomation Brief: A short, actionable plan for the most impactful automations.\n\t•\tn8n Guide: A step-by-step guide to creating the automation in n8n, including:\n\t•\tTrigger node.\n\t•\tMain workflow logic.\n\t•\tExample nodes (Google Sheets, Gmail, Webhook, OpenAI, etc.).\n\t•\tError handling suggestion.\n\t•\tOptional AI integration.\n\nOUTPUT:\n{\n  \"automation_brief\": \"Short summary of recommended automations.\",\n  \"n8n_guide\": \"Step 1: Add Google Sheets Trigger...\\nStep 2: Use OpenAI node for intent detection...\\nStep 3: Connect Gmail node for email notifications...\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        208,
        -144
      ],
      "id": "7cb44eb9-97c3-40aa-95bb-e8c5af7e0a8b",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        48
      ],
      "id": "5d8f9524-df55-44af-afe7-f8dfbf11cc0e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GjFdIdNxszyjPcwN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"automation_brief\": \"Short summary of recommended automations.\",\n  \"n8n_guide\": \"Step 1: Add Google Sheets Trigger...\\nStep 2: Use OpenAI node for intent detection...\\nStep 3: Connect Gmail node for email notifications...\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        64
      ],
      "id": "964fe445-2723-4835-b863-6b2fcb2874a7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -144
      ],
      "id": "00cb7a97-c24e-4880-b070-aba236839e8e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ",
          "mode": "list",
          "cachedResultName": "Education n8n sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1333506730,
          "mode": "list",
          "cachedResultName": "Study Sharing Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ/edit#gid=1333506730"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Brief",
              "lookupValue": "="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        -144
      ],
      "id": "bb32562f-d6be-4418-87c0-1179b2730790",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "noDcpW7quePhvVhL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ",
          "mode": "list",
          "cachedResultName": "Education n8n sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1333506730,
          "mode": "list",
          "cachedResultName": "Study Sharing Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ/edit#gid=1333506730"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Brief": "={{ $json.output.automation_brief }}",
            "Guide": "={{ $json.output.n8n_guide }}",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Brief",
              "displayName": "Brief",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Guide",
              "displayName": "Guide",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Version",
              "displayName": "Version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Time Spent",
              "displayName": "Time Spent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Time Spent",
              "displayName": "Time Spent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        560,
        -144
      ],
      "id": "5a43b9c7-dd02-490d-b3ce-16b1c767e381",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "noDcpW7quePhvVhL",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -208,
        464
      ],
      "id": "c21c46f7-14fa-4c0f-9062-52dcea4dd0d3",
      "name": "When chat message received",
      "webhookId": "a5598f99-5320-43a9-9ba0-cdd591c1672f"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are my AI Scheduler and Task Manager with access to my calendar. Your responsibilities:\n\n⸻\n\n1. Calendar Management\n\t•\tCreate new events when instructed.\n\t•\tRetrieve and report all existing events on my calendar.\n\t•\tCheck my availability for any given day or time range.\n\t•\tAlways avoid scheduling conflicts.\n2. Daily Task Scheduling\nToday is {{$now}} \n\t•\tEach morning, I will provide a list of miscellaneous tasks. \nThese tasks don't have start time, end time\nFor each task:\n\t•\tEstimate duration in minutes based on complexity.\n\t•\tAssign a random start and end time between 10:00 AM and 10:00 PM today\n\t•\tEnsure tasks do not overlap with existing calendar events.\n\t•\tMaintain at least 15 minutes buffer between tasks.\n- MAKE SURE TO CREATE EVENTS FOR ALL TASKS LISTED.\n\nGeneral Rules\n\t•\tIf a time conflict exists, move the task/event to the next available slot.\n\t•\tAlways keep tone professional and responses structured in JSON for automation.\n\t•\tNo filler text; only the requested information in the specified format.\n\n# OUTPUT\n{\n  \"tasks\": [\n    {\n      \"task\": \"Prepare marketing report\",\n      \"estimated_duration\": \"45 minutes\",\n      \"start_time\": \"2025-07-27T11:15:00\",\n      \"end_time\": \"2025-07-27T12:00:00\"\n    },\n    {\n      \"task\": \"Review design proposals\",\n      \"estimated_duration\": \"30 minutes\",\n      \"start_time\": \"2025-07-27T13:00:00\",\n      \"end_time\": \"2025-07-27T13:30:00\"\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        0,
        464
      ],
      "id": "0b709edf-ec27-4ca3-a1e2-d9fe1fb9acbf",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        672
      ],
      "id": "2a9da0cd-b2b2-484c-999a-324193498578",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "GjFdIdNxszyjPcwN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"tasks\": [\n    {\n      \"task\": \"Prepare marketing report\",\n      \"estimated_duration\": \"45 minutes\",\n      \"start_time\": \"2025-07-27T11:15:00\",\n      \"end_time\": \"2025-07-27T12:00:00\"\n    },\n    {\n      \"task\": \"Review design proposals\",\n      \"estimated_duration\": \"30 minutes\",\n      \"start_time\": \"2025-07-27T13:00:00\",\n      \"end_time\": \"2025-07-27T13:30:00\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        256,
        640
      ],
      "id": "eae16d70-d855-47e6-990d-4cc5f375fa01",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updatedItems = [];\n\nitems.forEach((item) => {\n  item?.json?.output?.tasks.forEach((task) => {\n    task.start_time = new Date(task.start_time);\n    task.end_time = new Date(task.end_time);\n    updatedItems.push({ json: task });\n  });\n});\n\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        464
      ],
      "id": "083cf566-d38a-4956-95bd-0befea4e8b97",
      "name": "Code"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "phuong.quepham185@gmail.com",
          "mode": "list",
          "cachedResultName": "phuong.quepham185@gmail.com"
        },
        "start": "={{ $json.start_time }}",
        "end": "={{ $json.end_time }}",
        "additionalFields": {
          "summary": "={{ $json.task }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        560,
        464
      ],
      "id": "bbd205af-f1b2-438d-bb7e-f48f36cad46a",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "M8uC4NDTlLMLUA6k",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "phuong.quepham185@gmail.com",
          "mode": "list",
          "cachedResultName": "phuong.quepham185@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        128,
        672
      ],
      "id": "f20a582a-a3ca-4faf-8494-36c3461d7789",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "M8uC4NDTlLMLUA6k",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "# Schedule my calendar",
        "height": 496,
        "width": 1152
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        352
      ],
      "id": "ef700a87-8e80-464f-9977-5a670492ac36",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Get Ideas",
        "height": 496,
        "width": 1152
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -256
      ],
      "id": "046d18e0-cd3d-4083-9bf7-5db548afae4d",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2c8822a0-0a1c-4bda-86fa-39ab98ee4d26",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "455c04afe429467177cce15d5d0af7fc0d5f8c0c2daa8db84b8dbe645d9a4079"
  },
  "id": "ZHfZxMjlqME4IY4w",
  "tags": [
    {
      "createdAt": "2025-07-25T03:23:32.580Z",
      "updatedAt": "2025-07-25T03:23:32.580Z",
      "id": "rZLNObD4Tog1F3hy",
      "name": "Learning"
    }
  ]
}
