Knowledge base + Invoice Flow
{
  "name": "Invoice + Knowledge Base + Invoice",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1yVAD1SOeoBoeMUGee97P0X5wWlp3zOzc",
          "mode": "list",
          "cachedResultName": "Clothing store",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yVAD1SOeoBoeMUGee97P0X5wWlp3zOzc"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3a64e32a-92ba-4fec-8344-13f16ec8526e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iWTrbYFYe30SH3na",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "8eeb55b6-f498-40fc-bfb6-9f0e9d073866",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iWTrbYFYe30SH3na",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo1",
          "mode": "list",
          "cachedResultName": "demo1"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "752dcfb0-e235-4750-9eb6-e20b0a1a9cf4",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "htKhzq4Apn861osN",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        160
      ],
      "id": "458b1978-2488-4ed5-b04b-9d3d61fd1c75",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YKklDWriaOnmAD3g",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        512,
        160
      ],
      "id": "a1c2d3d4-6361-47fe-92c2-b05a1856d630",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        512,
        304
      ],
      "id": "cc67e4b4-8d1c-4354-983c-8e6c183ca4e9",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        1024,
        0
      ],
      "id": "08b42d6f-19c5-452f-bbde-deb21c2c160b",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ry2fstknZwryWaL0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "An about is related to helping a customer. They may be asking questions about our policies or questions about our products and services"
            },
            {
              "category": "Other",
              "description": "Any other inquiries unrelated to policies and FAQ"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1232,
        0
      ],
      "id": "45369cf0-33c4-4a44-a1b2-18e73dc66bb1",
      "name": "Text Classifier"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1584,
        240
      ],
      "id": "4b9f3ab4-cdfa-43c3-8c30-d6c91d690856",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1232,
        160
      ],
      "id": "7208ef9d-838a-47aa-8972-499f8d41b448",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YKklDWriaOnmAD3g",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant\n##System Message\nYou are a professional customer service agent for ABC Clothing Store. Use the data retrieved from Pinecone to accurately and clearly answer customer questions related to store policy and FAQs. Always maintain a polite, helpful, and professional tone. End each response with the following sign-off:\n\nWarm regards,\nCustomer Care Team\nABC Clothing Store\n[contact@abcclothingstore.com]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1584,
        -96
      ],
      "id": "567b635e-911b-4c3f-a4a6-4b2d1bec61b7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1616,
        80
      ],
      "id": "10c16efd-51ba-4351-90e5-dc4509e21e51",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "YKklDWriaOnmAD3g",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This is where you pull data for answering questions about store policies and FAQ",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo1",
          "mode": "list",
          "cachedResultName": "demo1"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1808,
        80
      ],
      "id": "ae7d9389-718a-4018-abc3-8cf06897e27c",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "htKhzq4Apn861osN",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1808,
        240
      ],
      "id": "54784574-271a-450d-84dd-aba41686eb04",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "YKklDWriaOnmAD3g",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2096,
        -96
      ],
      "id": "50c1831b-4557-4884-b702-412bbb97fbd3",
      "name": "Reply to a message",
      "webhookId": "d22a15d2-0468-4f86-b6d9-80ead621b89b",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ry2fstknZwryWaL0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        640
      ],
      "id": "1deda2d6-8d9d-4053-910e-265fa7d9b132",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NN1fRSx2oUYwBt6UpZTXW_wvJ0zYvRIRbxWCbxhRY00",
          "mode": "list",
          "cachedResultName": "Content Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NN1fRSx2oUYwBt6UpZTXW_wvJ0zYvRIRbxWCbxhRY00/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NN1fRSx2oUYwBt6UpZTXW_wvJ0zYvRIRbxWCbxhRY00/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To-Do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        32,
        640
      ],
      "id": "7437b281-0807-4e24-a0c4-48a613229f10",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "noDcpW7quePhvVhL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"search the web for {{ $json.Topic }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        640
      ],
      "id": "f33335fd-7d33-4c49-996f-79c70eb78550",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article 1:  {{ $json.results[0].content}}\nArticle 2: {{ $json.results[2].content }}",
        "options": {
          "systemMessage": "You are a creative content writer for a children’s brand. Your job is to write short, fun, and engaging Facebook captions using the two research papers provided as your knowledge base. The captions must be written in a friendly tone, filled with emojis, simple words, and spark curiosity or joy in both kids and parents. Keep each caption concise and playful — make learning feel like an adventure! 🎉🧠✨"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        448,
        640
      ],
      "id": "99a9a096-e9be-49f7-9f88-5f2395103f76",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        816
      ],
      "id": "6c6e3eca-e9a5-466b-a0be-423a9f7e39f7",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "YKklDWriaOnmAD3g",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NN1fRSx2oUYwBt6UpZTXW_wvJ0zYvRIRbxWCbxhRY00",
          "mode": "list",
          "cachedResultName": "Content Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NN1fRSx2oUYwBt6UpZTXW_wvJ0zYvRIRbxWCbxhRY00/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NN1fRSx2oUYwBt6UpZTXW_wvJ0zYvRIRbxWCbxhRY00/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Get row(s) in sheet').item.json.Topic }}",
            "Status": "=Generated",
            "Content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        800,
        640
      ],
      "id": "dbf09b6b-1a98-47d8-bbd5-6a53399b7f12",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "noDcpW7quePhvVhL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1yVAD1SOeoBoeMUGee97P0X5wWlp3zOzc",
          "mode": "list",
          "cachedResultName": "Clothing store",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yVAD1SOeoBoeMUGee97P0X5wWlp3zOzc"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        1440,
        656
      ],
      "id": "042cc8ca-6634-49df-96c3-13501a1169c4",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iWTrbYFYe30SH3na",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1648,
        656
      ],
      "id": "6af4353f-cef7-459f-b64e-bef200e7da7f",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iWTrbYFYe30SH3na",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1856,
        656
      ],
      "id": "51901ba1-e50f-4e2f-a338-f24e85ab3eb1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "This is the invoice identifier.",
              "required": true
            },
            {
              "name": "Date Received",
              "description": "This is the Date Received of the invoice",
              "required": true
            },
            {
              "name": "Customer Name",
              "description": "This I the customer who we issue the invoice to",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "This is the Total Amount of the entire invoice",
              "required": true
            },
            {
              "name": "Discount",
              "type": "boolean",
              "description": "Tick TRUE for discount mentioned & FALSE for no discount",
              "required": true
            },
            {
              "name": "Invoice Deadline",
              "type": "date",
              "description": "This is the Invoice Deadline ",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        2064,
        656
      ],
      "id": "0acff2f4-bd4e-4d85-8d51-3d9712ae2d72",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2064,
        816
      ],
      "id": "8d55ca56-3c0b-47e7-8ea1-76f981b21c3b",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "YKklDWriaOnmAD3g",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WiOAW_5GBSToHwAdyg4FkpRnpshYDhwCflxAO0j-8xg",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WiOAW_5GBSToHwAdyg4FkpRnpshYDhwCflxAO0j-8xg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WiOAW_5GBSToHwAdyg4FkpRnpshYDhwCflxAO0j-8xg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Customer Name": "={{ $json.output['Customer Name'] }}",
            "Date Received": "={{ $json.output['Date Received'] }}",
            "Invoice Deadline": "={{ $json.output['Invoice Deadline'] }}",
            "Discount": "={{ $json.output.Discount }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}"
          },
          "matchingColumns": [
            "Invoice Number"
          ],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Received",
              "displayName": "Date Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Discount",
              "displayName": "Discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Deadline",
              "displayName": "Invoice Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2416,
        656
      ],
      "id": "931b595b-d6da-4e50-af29-a25bbd8658e1",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "noDcpW7quePhvVhL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Invoice Number'] }} {{ $json['Customer Name'] }} {{ $json['Total Amount'] }} {{ $json['Invoice Deadline'] }}",
        "options": {
          "systemMessage": "##ROLE\nYou are an AI assistant responsible for drafting brief and professional emails to the billing team.\n##INSTRUCTION\nUse the extracted information from each invoice — including Invoice Number, Customer Name, Total Amount, and Due Date — to craft clear and concise messages.\nThe tone should be formal and focused. Your email should summarize the invoice details in one short paragraph.\nSign-off format\nBest regards,\nBillie\n\n##NOTE\nDon't generate the subject line"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2624,
        656
      ],
      "id": "37a07214-7806-46f2-a697-0463baf1c190",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2496,
        864
      ],
      "id": "a97c7e51-1ccf-4e12-85ad-1ac38aedce58",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "YKklDWriaOnmAD3g",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "billing@example.ocm",
        "subject": "=\"New Invoice -{{ $('Append or update row in sheet').item.json['Invoice Number'] }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2976,
        656
      ],
      "id": "7cecf4f2-06f4-46db-9580-d52cd72af257",
      "name": "Send a message",
      "webhookId": "4f58e7a4-ace5-403e-9e61-39ae7c900fe0",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ry2fstknZwryWaL0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1WiOAW_5GBSToHwAdyg4FkpRnpshYDhwCflxAO0j-8xg",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WiOAW_5GBSToHwAdyg4FkpRnpshYDhwCflxAO0j-8xg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WiOAW_5GBSToHwAdyg4FkpRnpshYDhwCflxAO0j-8xg/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        1232
      ],
      "id": "10834c13-0630-46d1-a7b2-ac1c5a738635",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "zJHkhF6szLnmf1AW",
          "name": "Google Sheets Trigger account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Total Amount'] }}",
                    "rightValue": 50000,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    },
                    "id": "855090a2-1c17-47ef-820a-6569b7165c16"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Send to billing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1781c2b4-73d0-43db-a248-d5c0cd59715a",
                    "leftValue": "={{ $json['Total Amount'] }}",
                    "rightValue": 49999,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No action"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        32,
        1232
      ],
      "id": "56ad5cdd-55a1-405c-a285-57ec689360eb",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Invoice Number'] }}\n{{ $json['Date Received'] }}\n{{ $json['Customer Name'] }}\n{{ $json['Total Amount'] }}\n{{ $json['Invoice Deadline'] }}",
        "messages": {
          "messageValues": [
            {
              "message": "=##Role: You help me with writing emails to billing team. \n##Instruction: \nStart with Dear team, \nincludes all information in the prompt. But highlight the {{ $json['Invoice Deadline'] }} & {{ $json['Total Amount'] }}\nInclude this link to the tracker \"https://docs.google.com/spreadsheets/d/1WiOAW_5GBSToHwAdyg4FkpRnpshYDhwCflxAO0j-8xg/edit?gid=0#gid=0\"\n\nSign off as \nInvoice Bot"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        240,
        1136
      ],
      "id": "831cc121-a62f-4514-8b69-a084c79da8b7",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "IMPORTANT"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        816,
        1136
      ],
      "id": "c2d26f9f-9fab-483f-82c4-da084d0c005a",
      "name": "Add label to message",
      "webhookId": "9a3ac4d6-0af8-4622-9ee4-387dc4f34ee8",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ry2fstknZwryWaL0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "quephuong.pham185@gmail.com",
        "subject": "=New invoice - {{ $('Google Sheets Trigger').item.json['Invoice Number'] }}",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        608,
        1136
      ],
      "id": "51b87da7-9eb6-42f1-9f2b-89cdc9d0dc44",
      "name": "Send a message1",
      "webhookId": "09a625ec-2021-42e8-9734-2d1d10a904ff",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ry2fstknZwryWaL0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        1280
      ],
      "id": "d7d4cd31-774e-4675-8272-e8fd8a262e62",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "YKklDWriaOnmAD3g",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        224,
        1504
      ],
      "id": "48ac5685-72d3-4c27-846e-cc433de630d9",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1328,
        1152
      ],
      "id": "65cc54e5-8e7f-4d9c-9468-979e45bb055d",
      "name": "When chat message received",
      "webhookId": "7db31136-667a-4f29-90b1-8ad977e3aa62"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI topic generator designed to create engaging and relevant topic ideas based on user input. Your primary goal is to generate a list of diverse, high-quality topics that match the theme or keywords provided by the user. The output should be structured in a clear JSON format suitable for populating a Google Sheet, with each topic as a separate entry.\n\nInstructions:\n- Analyze the user's chat input as the main theme.\n- Generate 3 concise, creative, and contextually relevant topics.\n- Ensure topics are short (max 10 words) and actionable.\n- Do NOT include duplicates or vague topics.\n- Return the output strictly in the following JSON structure:\n\n{\n  \"topics\": [\n    {\"title\": \"First Topic\"},\n    {\"title\": \"Second Topic\"},\n    {\"title\": \"Third Topic\"}\n  ]\n}\n\nMaintain clarity and avoid adding explanations outside the JSON structure."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1632,
        1152
      ],
      "id": "1207384e-8599-4300-8ecd-9dac67b17344",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1632,
        1312
      ],
      "id": "b88710be-4da8-434e-a4e9-af88f8c50b3b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GjFdIdNxszyjPcwN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1760,
        1328
      ],
      "id": "a4cb1248-f50e-4cef-a5f7-4a95da00517c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "attributes": {
          "attributes": [
            {
              "name": "Titles",
              "description": "Names of each topic idea",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value.\nCan you separate different title names into different values?"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        2000,
        1152
      ],
      "id": "4a262810-34aa-4b02-9c43-6768e212fb28",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2000,
        1312
      ],
      "id": "42dc3ff8-329e-4e53-bc09-babfab240720",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "GjFdIdNxszyjPcwN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output.Titles; // e.g., \"whale, dolphin, octopus\"\nconst ideas = text.split(',').map(item => item.trim());\n\nreturn ideas.map(idea => {\n    return { json: { idea } };  // Each idea becomes a separate item\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        1152
      ],
      "id": "36ddfbf4-7eca-4496-8d96-dfcf7b3d2bb9",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ",
          "mode": "list",
          "cachedResultName": "Education n8n sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1842014197,
          "mode": "list",
          "cachedResultName": "Chernobyl",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ/edit#gid=1842014197"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Idea": "={{ $json.idea }}",
            "Topic": "={{ $('When chat message received').item.json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Idea",
              "displayName": "Idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2576,
        1152
      ],
      "id": "021cc0fa-4f67-4d86-ac36-555e4edbd329",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "noDcpW7quePhvVhL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ",
          "mode": "list",
          "cachedResultName": "Education n8n sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1842014197,
          "mode": "list",
          "cachedResultName": "Chernobyl",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ/edit#gid=1842014197"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2784,
        1152
      ],
      "id": "8d640ff7-2b27-4d95-b850-2b05b38f139a",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "noDcpW7quePhvVhL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Idea }}",
        "options": {
          "systemMessage": "=You are going to use the information in the Google Sheets to generate an informative Post with relevant hashtags. \nRules:\nIntroduce the content series {{ $json.Topic }}\nEnd wih hit follow for more information.\nThe length is 100-150 words"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2992,
        1152
      ],
      "id": "cbcaa941-6491-4516-b32c-dba84c4b89c7",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2864,
        1360
      ],
      "id": "5682ef71-aa15-452e-9625-9d51105d0287",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "GjFdIdNxszyjPcwN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ",
          "mode": "list",
          "cachedResultName": "Education n8n sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1842014197,
          "mode": "list",
          "cachedResultName": "Chernobyl",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ/edit#gid=1842014197"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Content": "={{ $json.output }}",
            "Status": "Done",
            "Idea": "={{ $('Get row(s) in sheet1').item.json.Idea }}"
          },
          "matchingColumns": [
            "Idea"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Idea",
              "displayName": "Idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3344,
        1152
      ],
      "id": "b5b71725-18ac-49e9-a19e-32a2bf7e9aa1",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "noDcpW7quePhvVhL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ",
          "mode": "list",
          "cachedResultName": "Education n8n sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1842014197,
          "mode": "list",
          "cachedResultName": "Chernobyl",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ia28kkOzWdlDoemHva2C8jJhQZinHuGNvPMIwwcXCWQ/edit#gid=1842014197"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Done"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3552,
        1152
      ],
      "id": "20803d6e-b1dd-4ed1-906d-cfd0cd54a41b",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "noDcpW7quePhvVhL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "https://www.notion.so/23a5277db4ce8054a5edee965779583a?v=23a5277db4ce8007b7ac000c4e3832d8&source=copy_link",
          "mode": "url"
        },
        "title": "={{ $json.Topic }}",
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $json.Idea }}",
                    "annotationUi": {
                      "color": "green"
                    }
                  },
                  {
                    "text": "={{ $json.Content }}",
                    "annotationUi": {}
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3760,
        1152
      ],
      "id": "f2fadb69-3b65-405e-a820-35413b9bd6d4",
      "name": "Create a page",
      "credentials": {
        "notionApi": {
          "id": "fmd4xQ1oPvQ51QiU",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        1120
      ],
      "typeVersion": 1,
      "id": "3676a541-7d61-4a5b-8e72-81f13b3c6484",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Send Invoice Billing ",
        "height": 640,
        "width": 1248
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        1072
      ],
      "typeVersion": 1,
      "id": "91a3ffab-fc4a-43fe-9c99-1b311c40059d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Generate Content using Tavily",
        "height": 416,
        "width": 1376
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        544
      ],
      "id": "edbff477-af4d-4c9a-88fc-43b1e761d8e8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Create LLM knowledge base & answer customer queries",
        "height": 672,
        "width": 2416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        -208
      ],
      "id": "2af8db84-d8b8-453f-ad51-c7127222187b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Invoice Parsing & Email Billing Team",
        "height": 464,
        "width": 1824
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        544
      ],
      "id": "264b685c-785c-4c59-9b55-0b4121f8af7d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Upload Content on Notion Pages",
        "height": 544,
        "width": 2768
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        1056
      ],
      "typeVersion": 1,
      "id": "51195201-1af7-4bca-8c5d-6b4bfe5b8cc9",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Create a page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b35f5a39-066f-4343-9dff-181f3111c778",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "455c04afe429467177cce15d5d0af7fc0d5f8c0c2daa8db84b8dbe645d9a4079"
  },
  "id": "3H35D0N1oJmZM0Xt",
  "tags": []
}
